<launch>

  <param name="robot_description"
    command="$(find xacro)/xacro '$(find task_board_description)/urdf/task_board.urdf'" />

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz"
    args="-d $(find task_board_description)/rviz_config/rviz_config.rviz" required="true" />
    
</launch>